.ce_main {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  z-index: 999999;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  color: white;
  background-color: #7b68ee;
}

#ce_name {
  font-size: 24px;
}

#ce_name_err {
  font-size: 20px;
  color: #f00;
  display: none;
}

#ce_button {
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 18px;
  background-color: black;
  cursor: pointer;
}
